@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --purple: #8e44ad;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #131313;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: rgba(255, 255, 255, 0.1);
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

.page-item .page-link {
  font-size: 1.5rem;
}
.toolbar {
  display: flex;
  /* width: 100%; */
  font-size: 1.5rem;
  padding: 2rem 0;
  border: none;
}
.toolbar .pagination {
  margin: 0 auto;
}
.toolbar .page-link {
  padding: 1rem 1rem;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light-bg);
}

section {
  padding: 4rem 3rem;
}

.title {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
  font-size: 3.5rem;
}

.empty {
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  background-color: var(--white);
  color: var(--red);
  font-size: 2rem;
}


/* 
.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--orange);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1.5rem;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  cursor: pointer;
  color: var(--red);
  font-size: 2.5rem;
}

.message i:hover {
  transform: rotate(90deg);
} */

.btn,
.option-btn,
.delete-btn,
.white-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--white);
  font-size: 2rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
}

.white-btn,
.btn {
  background-color: var(--orange);
}

.option-btn {
  background-color: var(--orange);
}

.delete-btn {
  background-color: var(--red);
}

.white-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0.2s;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.header .flex {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .logo span {
  color: var(--purple);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  color: var(--purple);
}

.header .flex .icons div {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
}

.header .flex .icons div:hover {
  color: var(--purple);
}

.header .account-box {
  position: absolute;
  top: 120%;
  right: 3rem;
  width: 30rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: var(--border);
  background-color: var(--white);
  display: none;
  animation: fadeIn 0.2s linear;
}

.header .account-box.active {
  display: inline-block;
}

.header .account-box p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1.5rem;
}

.header .account-box p span {
  color: var(--purple);
}

.header .account-box .delete-btn {
  margin-top: 0;
}

.header .account-box div {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}

.header .account-box div a {
  color: var(--orange);
}

.header .account-box div a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.dashboard .box-container .box {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  height: 170px;
}

.dashboard .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
}

.dashboard .box-container .box p {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--light-bg);
  color: var(--purple);
  font-size: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
}
/* ========================= */

.edit-product-form {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}

.edit-product-form form {
  width: 50rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.edit-product-form form img {
  height: 25rem;
  margin-bottom: 1rem;
}

.edit-product-form form .box {
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
}

.show-products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32rem);
  justify-content: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}
.show-products {
  padding-top: 0;
}

.show-products .box-container .box {
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.show-products .box-container .box img {
  height: 30rem;
  width: 100%;
  border-radius: 0.5rem;
}
.show-products .box-container .box img:hover {
  opacity: 0.7;
  /* overflow: hidden; */
  /* transform: scale(1.25);
  height: 30rem;
  width: 100%; */
}
.show-products .box-container .box .name {
  padding: 1rem 0;
  font-size: 2.5rem;
  height: 8rem;
  color: var(--black);
  font-weight: 600;
}
.show-products .box-container .box .author {
  padding: 1rem 0;
  font-size: 1.75rem;
  height: 4.5rem;
  font-style: italic;
}
.show-products .box-container .box .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--red);
}
.show-products .box-container .box .detail_book {
  font-size: 2rem;
  color: var(--black);
  font-style: italic;
}
.show-products .box-container .box .detail_book:hover {
  opacity: 0.5;
}

/* THE END PRODUCT */
/* ######################## */

/* media queries  */
a:hover {
  text-decoration: none;
}
.title1 {
  text-align: left;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
  font-size: 3.5rem;
}
/* product */
/* ========================= */
.add-products {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}
.add-products form {
  width: 70%;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
  height: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.add-products form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 2rem;
}

.add-products form .box,
.add-products form .description {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}

/* ######## COMBO */
.add-products-combo {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}
.add-products-combo form {
  /* background-color: var(--white);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 50rem;
  margin: 0 auto; */
  width: 80%;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
  height: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.add-products-combo form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 2rem;
}

.add-products-combo form .box,
.add-products-combo form .description {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}

/* ##### het combo */

.show-products .list-add-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 51rem);
  justify-content: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.show-products .list-add-products .add-products-button {
  text-align: right;
}
.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 36rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}
.toolbar.user_tool .pagination {
  margin-top: 40px;
}
.orders .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 520px;
  position: relative;
}

.orders .box-container .box p {
  font-size: 2rem;
  color: var(--light-color);
}

.orders .box-container .box p span {
  color: var(--black);
  /* word-wrap: break-word;
    word-break: break-all; */
}

.orders .box-container .box form {
  text-align: center;
}

.orders .box-container .box .select-button {
  position: absolute;
  bottom: 20px;
  margin-right: 22px;
}
.orders .box-container .box .select-button form select {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  background-color: var(--light-bg);
  border: var(--border);
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  color: var(--black);
}

.users .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.users .box-container .box {
  background-color: var(--white);
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  margin: 30px 0px;
  height: 420px;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  /* box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
      0 20px 20px rgba(0, 0, 0, 0.5); */
  transition: 1s;
}
.users .box-container .box:hover {
  z-index: 998;
  /* transform: perspective(2000px) rotate(-10deg); */
  box-shadow: inset 20px 0 50px rgba(63, 63, 63, 0.5),
    0 10px 100px rgba(66, 65, 65, 0.5);
}

.users .box-container .box .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1.5s cubic-bezier(0.15, 1.7, 0.84, 0.58);
  background: #111;
  /* backface-visibility: hidden; */
}
.users .box-container .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users .box-container .box:hover .imgBox {
  transform: rotateY(-135deg);
}
.users .box-container .box:hover .fullname-type {
  display: none;
}
.users .box-container .box .fullname-type {
  pointer-events: none;
}
.users .box-container .box .detail {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
}
.users .box-container .box .detail p {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}
.users .box-container .box .fullname-type p {
  font-size: 2rem;
  color: var(--light-color);
  margin: 0;
  margin-top: 2px;
  text-align: center;
}
.users .box-container .box .detail p span {
  color: var(--black);
}
.users .box-container .box .fullname-type p span {
  color: var(--black);
}

.users .box-container .box .detail .delete-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

/* ######################### */
.messages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.messages .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  min-height: 340px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
}

.messages .box-container .box p {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
  line-height: 1.5;
}

.messages .box-container .box p span {
  color: var(--black);
}

.messages .box-container .box .delete-btn {
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
}

.edit-product-form {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}

.edit-product-form form {
  width: 80%;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
  height: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  /* position: relative; */
}

.edit-product-form form img {
  height: 25rem;
  margin-bottom: 1rem;
}

.edit-product-form form .box {
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
}

.detail-book,
.detail-combo {
  background-color: #ffffff00;
  max-width: 80%;
  margin: 4rem auto;
  padding: 0.5rem;
  /* border-radius: 0.5rem; */
  font-weight: 400;
}

.info-book,
.info-combo {
  display: flex;
  border-bottom: 2px solid #000;

  /* justify-content: space-between; */
  /* border: var(--border); */
}

.info-book-img,
.combo-img {
  width: 30%;
  border-radius: 30px;
  height: 90%;
  /* margin: 5rem; */
  margin: auto;
}
.info-book-detail,
.info-combo-detail {
  width: 50%;
  text-align: start;
  margin-top: 1rem;
}

.info-book-detail-name,
.combo-name {
  font-size: 2.75rem;
  /* text-align: center; */
  margin: 2rem 3rem;
  text-transform: uppercase;
}
.info-book-detail-price,
.price-combo {
  font-size: 2.25rem;
  /* margin: 2rem; */
  font-style: oblique;
  /* text-align: center; */
  /* text-align: start; */
  margin: 1rem 3rem;
  color: var(--red);
}
.info-book-detail-author,
.info-book-detail-publisher,
.info-book-detail-supplier {
  font-size: 1.75rem;
  margin: 1.5rem 2rem;
  /* text-align: center; */
}
.info-book-detail-description {
  width: 90%;
  margin: 3rem auto;
  font-size: 1.75rem;
  text-align: justify;
  /* margin: 2rem; */
  line-height: 1.5;
  /* font-style: oblique; */
}
.info-book-detail-description p {
  font-size: 1.5rem;
}
.admin-return-product {
  /* border-top: 2px solid #000; */
  width: 20%;
  background-color: var(--red);
  padding: 1rem;
  color: #fff;
  display: block;
  margin: 3rem auto;
  text-align: center;
  border-radius: 2rem;
}

.admin-return-product:hover {
  opacity: 0.7;
}

/* COMBO SÁCH */
/* ######################## */
.description-combo {
  line-height: 1.25;
  text-align: justify;
  font-size: 1.5rem;
}
.books-combo {
  width: 90%;
  margin: auto;
}
.book-in-combo {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: auto; */
}
.name-book-combo {
  font-size: 2.5rem;
  /* margin: 2rem; */
  font-weight: 500;
  /* text-align: center; */
  /* font-style: italic; */
}
.description-book-combo {
  width: 100%;
  margin: auto;
  font-size: 1.25rem;
  text-align: justify;
  /* margin: 2rem; */
  line-height: 1.25;
  /* font-style: oblique; */
}
.info-book-combo {
  text-align: start;
}
/* .book-in-combo {
  margin: 2rem 5rem;
} */
.combo-book-img {
  width: 60%;
  border-radius: 30px;
  height: auto;
  margin: 1.5rem auto;
}
/* author */
.slogan {
  min-height: 13vh;
  font-size: 1.5rem;
  text-align: justify;
  margin: 0.5rem;
  /* background-color: #666; */
}
.information-author {
  min-height: 3vh;
  color: var(--red);
  font-size: 1.75rem;
}
.table .scroll {
  height: 15rem;
  text-overflow: ellipsis;
    overflow-x: hidden;
    padding: 0 5px;
}
.table .scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #f2f2f2;
}
.table .scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
/* review */
.table td,
.table th {
  font-size: 1.5rem;
  max-height: 15rem;
}
.table-review {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #f8f8f600;
  border-radius: 5rem;
}
.set-height {
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.btn-review a {
  /* width: 50%; */
  background-color: var(--red);
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  /* margin-top: 2rem; */
  border-radius: 3rem;
}
.btn-review a:hover {
  opacity: 0.6;
  background-color: var(--red);
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
}
/* responsive */

/* Admin Cart Starts */

.listcart {
  font-family: Mukta, sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #e1e5ee;
  font-size: 2rem;
  background-color: 111;
}

.listcart h1 {
  text-align: center;
  color: red;
  margin-bottom: 3rem;
}

.listcart table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px hsl(222, 28%, 91%);
  background-color: #213131;
  text-align: left;
  overflow: hidden;
}
.orders .box-container .box p span {
  color: purple;
}
.listcart table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

.listcart table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.listcart table td {
  padding: 1rem 2rem;
}

.listcart .grand-total {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: white;
}

.listcart .grand-total span {
  color: red;
}
/* Admin Cart Ends */

/* Admin Feedback Starts */

.feedback {
  font-family: Mukta, sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #e1e5ee;
  font-size: 2rem;
  background-color: 111;
}

.feedback h1 {
  text-align: center;
  color: red;
  margin-bottom: 3rem;
}

.feedback table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px hsl(222, 28%, 91%);
  background-color: #213131;
  text-align: left;
  overflow: hidden;
}

.feedback table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

.feedback table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

.feedback table td {
  padding: 1rem 2rem;
}

.feedback .grand-total {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: white;
}

.feedback .grand-total span {
  color: red;
}
/* Admin Feedback Ends */

/* Admin UpdateProfile Begins */

.updateInfo-form form {
  background: #2b291a73;
  box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border: 3px solid #bacfcf;
  border-radius: 2rem;
  max-width: 50rem;
  margin: 1rem auto;
  display: block;
}

.updateInfo-form form h3 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: aqua;
  text-align: center;
}

.updateInfo-form form p {
  padding-top: 1rem;
  font-size: 1.6rem;
  color: aqua;
}

.updateInfo-form form p span {
  color: var(--red);
}

.updateInfo-form form .box {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: white;
  margin: 1rem 0;
}

.updateInfo-form form textarea {
  height: 15rem;
  resize: none;
}

.updateInfo-form form .image {
  height: 20rem;
  width: 100%;
  object-fit: contain;
  margin-top: 0.5rem;
}

.updateInfo-form form .delete-btn,
.updateInfo-form form .btn {
  text-transform: capitalize;
  width: 100%;
}

.updateInfo-form form .link {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: var(--light-color);
}

.updateInfo-form form .link a {
  color: var(--red);
}

.updateInfo-form form .link a:hover {
  text-decoration: underline;
}

.updateInfo-form form .submit-btn {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 1px solid aqua;
  background: #222;
  color: aqua;
  font-size: 1.8rem;
  cursor: pointer;
}

.updateInfo-form form .submit-btn:hover,
.updateInfo-form form a:hover {
  background-color: #16a085;
  color: white;
}

.updateInfo-form form a {
  margin-top: 1rem;
  display: block;
  text-align: center;
}
.updateInfo-form .error {
  color: red;
  font-size: 1.5rem;
}

/* Admin UpdateProfile Ends */

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .title1 {
    text-align: center;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .btn-review a {
    width: none;
  }
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .table .scroll {
    height: 12rem;
  }
  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: block;
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .title1 {
    text-align: center;
  }
  .detail-book,
  .detail-combo {
    max-width: 95%;
    /* margin-bottom: 2rem; */
  }
  .info-book,
  .info-combo {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .info-book-img,
  .combo-img {
    width: 100%;
    margin-bottom: 0;
  }
  .info-book-detail,
  .info-combo-detail {
    width: 90%;
    /* text-align: justify; */
    /* margin: 7rem; */
    margin-top: 1.5rem;
  }

  .combo-book-img {
    width: 100%;
  }
  .table-review thead {
    display: none;
  }

  .table-review td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }

  .table-review table {
    width: 100%;
  }
  .table-review table thead {
    display: none;
  }
  .table-review table tbody {
    display: block;
    width: 100%;
  }
  .table-review table tbody tr {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .table-review table tbody td {
    display: block;
    text-align: start;
  }
}
@media (max-width: 460px) {
  .info-book-detail-description {
    width: 100%;
  }
  .info-book-detail-description p {
    height: 25rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
  }
  .info-book-detail-description p::-webkit-scrollbar {
    width: 8px;
    background-color: #f2f2f2;
  }
  .info-book-detail-description p::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  .admin-return-product {
    font-size: 1.5rem;
  }

  .description-book-combo p{
    height: 15rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
    font-size: 1.5rem;
  }
}
  
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .title1,
  .title {
    text-align: center;
    font-size: 3rem;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .table-review {
    width: 100%;
    margin: auto;
    text-align: justify;
    /* background-color: #fcfbd41b; */
    border-radius: 5rem;
  }
}
