/* ========================= */
/* product */
/* ========================= */
.add-products form {
  /* width: 60%; */
  background-color: var(--white);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 60rem;
  margin: 0 auto;
}

.add-products form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 2rem;
}

.add-products form .box,
.add-products form .description {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}

.show-products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32rem);
  justify-content: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.show-products {
  padding-top: 0;
}

.show-products .box-container .box {
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.show-products .box-container .box img {
  height: 30rem;
  width: 100%;
  border-radius: 0.5rem;
}
.show-products .box-container .box img:hover {
  opacity: 0.7;
  /* overflow: hidden; */
  /* transform: scale(1.25);
    height: 30rem;
    width: 100%; */
}
.show-products .box-container .box .name {
  padding: 1rem 0;
  font-size: 2.5rem;
  height: 10rem;
  color: var(--black);
  font-weight: 600;
}
.show-products .box-container .box .author {
  padding: 1rem 0;
  font-size: 1.75rem;
  height: 4.5rem;
  font-style: italic;
}
.show-products .box-container .box .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--red);
}
.show-products .box-container .box .detail_book {
  font-size: 2rem;
  color: var(--black);
  font-style: italic;
}
.show-products .box-container .box .detail_book:hover {
  opacity: 0.5;
}
.edit-product-form {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}

.edit-product-form form {
  width: 80%;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
  height: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  /* position: relative; */
}

.edit-product-form form img {
  height: 25rem;
  margin-bottom: 1rem;
}

.edit-product-form form .box {
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
}

.detail-book,
.detail-combo {
  background-color: #ffffff00;
  max-width: 80%;
  margin: 4rem auto;
  padding: 0.5rem;
  /* border-radius: 0.5rem; */
  font-weight: 400;
}

.info-book,
.info-combo {
  display: flex;
  border-bottom: 2px solid #000;

  /* justify-content: space-between; */
  /* border: var(--border); */
}

.info-book-img,
.combo-img {
  width: 30%;
  border-radius: 30px;
  height: 90%;
  /* margin: 5rem; */
  margin: auto;
}
.info-book-detail,
.info-combo-detail {
  width: 50%;
  text-align: start;
  margin-top: 1rem;
}

.info-book-detail-name,
.combo-name {
  font-size: 2.75rem;
  /* text-align: center; */
  margin: 2rem 3rem;
  text-transform: uppercase;
}
.info-book-detail-price,
.price-combo {
  font-size: 2.25rem;
  /* margin: 2rem; */
  font-style: oblique;
  /* text-align: center; */
  /* text-align: start; */
  margin: 1rem 3rem;
  color: var(--red);
}
.info-book-detail-author,
.info-book-detail-publisher,
.info-book-detail-supplier {
  font-size: 1.75rem;
  margin: 1.5rem 2rem;
  /* text-align: center; */
}
.info-book-detail-description {
  width: 90%;
  margin: 3rem auto;
  font-size: 1.75rem;
  text-align: justify;
  /* margin: 2rem; */
  line-height: 1.5;
  /* font-style: oblique; */
}
.admin-return-product {
  /* border-top: 2px solid #000; */
  width: 20%;
  background-color: var(--red);
  padding: 1rem;
  color: #fff;
  display: block;
  margin: 3rem auto;
  text-align: center;
  border-radius: 2rem;
}

.admin-return-product:hover {
  opacity: 0.7;
}
/* THE END PRODUCT */
/* ######################## */
/* COMBO SÁCH */
/* ######################## */
.description-combo {
  line-height: 1.25;
  text-align: justify;
  /* margin: 2rem; */

}
.books-combo {
  width: 90%;
  margin: auto;
}
.book-in-combo {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: auto; */
}
.name-book-combo {
  font-size: 2.5rem;
  /* margin: 2rem; */
  font-weight: 500;
  /* text-align: center; */
  /* font-style: italic; */
}
.description-book-combo {
  width: 100%;
  margin: auto;
  font-size: 1.25rem;
  text-align: justify;
  /* margin: 2rem; */
  line-height: 1.25;
  /* font-style: oblique; */
}
.info-book-combo {
  text-align: start;
}
/* .book-in-combo {
  margin: 2rem 5rem;
} */
.combo-book-img {
  width: 60%;
  border-radius: 30px;
  height: auto;
  margin: 1.5rem auto;
}
/* author */
.slogan {
  min-height: 13vh;
  font-size: 1.5rem;
  text-align: justify;
  margin: 0.5rem;
  /* background-color: #666; */
}
.information-author {
  min-height: 3vh;
  color: var(--red);
  font-size: 1.75rem;
}
/* review */

.table-review {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #f8f8f600;
  border-radius: 5rem;
}
.set-height {
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.btn-review a {
  width: 50%;
  background-color: var(--red);
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  /* margin-top: 2rem; */
  border-radius: 3rem;
}
.btn-review a:hover {
  opacity: 0.6;
  background-color: var(--red);
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
}
/* responsive */
@media (max-width: 991px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 610px) {
  html {
    font-size: 40%;
  }
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
  .detail-book,
  .detail-combo {
    max-width: 80%;
    /* margin-bottom: 2rem; */
  }
  .info-book,
  .info-combo {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .info-book-img,
  .combo-img {
    width: 100%;
    margin-bottom: 0;
  }
  .info-book-detail,
  .info-combo-detail {
    width: 90%;
    /* text-align: justify; */
    /* margin: 7rem; */
    margin-top: 1.5rem;
  }
  
  .combo-book-img {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .table-review thead {
      display: none;
    }
  
    .table-review td::before {
      content: attr(data-label);
      font-weight: bold;
      display: block;
    }
  }
  .table-review table {
    width: 100%;
  }
  .table-review table thead {
    display: none;
  }
  .table-review table tbody {
    display: block;
    width: 100%;
  }
  .table-review table tbody tr {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .table-review table tbody td {
    display: block;
    text-align: start;
  } 
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .title {
    font-size: 3rem;
  }
  .table-review {
    width: 100%;
    margin: auto;
    text-align: justify;
    /* background-color: #fcfbd41b; */
    border-radius: 5rem;
  }
}
/* ######################## */
/* ######################## */
/* ######################## */
