@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root{
  --main-color:#16a085;
  --red:#eb4d4b;
  --orange:#f39c12;
  --black:#130f40;
  --light-color:#999;
  --light-bg:#eee;
  --white:#fff;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

/* .btn:hover {
  background: #29d9d5;
  color: #111;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
   
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}

.header .icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header .icons i {
  color: #fff;
}

.header .icons .users:hover {
  color: aqua;
}

.header .profile{
  position: absolute;
  top: 120%; right: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  width: 30rem;
  border-radius: .5rem;
  border: var(--border);
  overflow-x: hidden;
  transform: scale(0);
  transform-origin: top right;
}

.header .profile.active{
  transform: scale(1);
  transition: .2s linear;
}

.header .profile p{
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: var(--light-color);
  font-size: 1.8rem;
  padding-bottom: .5rem;
}
.profile,
.dropdown-content {
    display: none;
}
.header .profile .image{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Định dạng nút chọn */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}



.dropdown-content {
  position: absolute;
  min-width: 160px;
  padding: 10px;
  background-color: #f9f9f9;
  border: .3rem solid red;
  border-radius: 1.5rem ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
  margin-top: 17.5rem;
  right: 8%;
  display: none;
}

.dropdown-content .tcn {
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: background-color 0.3s ease;
  text-align: center;
  border-radius: 1rem;
}

.dropdown-content a:hover {
  background-color: red;
}

 .delete-btn {
  display: inline-block;
   margin-top: 1rem;
   padding:.5rem 2rem;
   cursor: pointer;
   color:white;
   font-size: 1.5rem;
   border-radius: .5rem;
   text-transform: capitalize;
   background-color: red;
}
.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 227, 227, 0.1)), to(rgba(235, 221, 221, 0.1))), url(../images/book-main.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)), url(../images/book-main.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.home .content h3 {
  font-size: 6vw;
  color: #fff;
}

.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #222;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

.book-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.book-form form .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.book-form form .inputBox span {
  font-size: 1.4rem;
  color: #aaa;
}

.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: .7rem;
}

.about .video-container .controls span:hover {
  background: #29d9d5;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #29d9d5;
  font-size: 2rem;
}

.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.product .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 3rem;
}

.product .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
  height: 500px;
}

.product .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product .box-container .box .image {
  height: 35rem;
  overflow: hidden;
  width: 100%;
}

.product .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.product .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.product .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.product .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.product .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.product .box-container .box .content a i {
  padding-right: .5rem;
}

.product .box-container .box .purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.product .box-container .box .purchase h3 {
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.product .box-container .box .purchase p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.product .box-container .box .purchase a {
  font-size: 2.5rem;
  color: #29d9d5;
  /* border-radius: 50%;
  background: white; */
}

.product .box-container .box .purchase a:hover i {
  color: whitesmoke;
}

/* .product .box-container .box .purchase a i {
  font-size: 1.5rem;
  padding: 3px;
} */


.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.services .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}

.services .box-container .box i {
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}



.services .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: #aaa;
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: #fff;
}

.authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.authors .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.authors .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.authors .content h3 {
  font-size: 2.5rem;
  color: #fff;
}

.authors .content p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
}

.authors .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.authors .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #222;
  border: 0.2rem solid #111;
}

.authors .box-container .box:hover {
  border: 0.2rem solid #29d9d5;
}

.authors .box-container .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #aaa;
  text-align: justify;
  text-justify: inter-word;
}

.authors .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.authors .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.authors .box-container .box .user h3 {
  font-size: 1.7rem;
  color: #fff;
}

.authors .box-container .box .user a {
  color: aqua;
  font-size: 1.3rem;
}

.authors .box-container .box .user a:hover {
  color: #4CAF50;
}
/* gsúdf */


.authors .box-containers {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

.authors .box-containers .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #222;
  border: 0.2rem solid #111;
}

.authors .box-containers .box:hover {
  border: 0.2rem solid #29d9d5;
}

.authors .box-containers .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #aaa;
  text-align: justify;
  text-justify: inter-word;
}

.authors .box-containers .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.authors .box-containers .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.authors .box-containers .box .user h3 {
  font-size: 1.7rem;
  color: #fff;
}

.authors .box-containers .box .user a {
  color: aqua;
  font-size: 1.3rem;
}

.authors .box-containers .box .user a:hover {
  color: #4CAF50;
}


.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: 1rem;
  background: #222;
  overflow: hidden;
  text-align: center;
  padding:2rem;
}

.blogs .box-container .box img {
  height: 7rem;
   width: 7rem;
   border-radius: 50%;
}


.blogs .box-container .box .content {
  padding: 1rem;
}

.blogs .box-container .box .content .link {
  font-size: 2rem;
  color: #fff;
}

.blogs .box-container .box .content .link:hover {
  color: #29d9d5;
}

.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
.blogs .box-container .box .stars{
  background-color: whitesmoke;
  display: inline-block;
  margin:.5rem 0;
  border-radius: .5rem;
  border:var(--border);
  padding:.5rem 1.5rem;
}

.blogs .box-container .box .stars i{
  font-size: 1.7rem;
  color:orange;
  margin:.2rem;
}
.blogs .box-container .box .content .icon {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: #aaa;
}

.blogs .box-container .box .content .icon a:hover {
  color: #29d9d5;
}

.blogs .box-container .box .content .icon a i {
  padding-right: .5rem;
  color: #29d9d5;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/banner-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
}

.banner .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.banner .content h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
}

.banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #29d9d5;
  color: #29d9d5;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #29d9d5;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #29d9d5;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #29d9d5;
}

/* Begin Detail Book Style */
.detailBook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: fgrlex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15rem;
  margin-top: 10rem;
}

.detailBook .book-img .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
  height: 500px;
  width: 400px;
}


.detailBook .book-img .box .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.detailBook .book-img .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}



.detailBook .information-detail h3 {
  font-size: 2rem;
  color: #fff;
}

.detailBook .information-detail p {
  font-size: 1.5rem;
  color: #fff;
}

.view-post .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2rem;
  border-radius: .5rem;
}

.view-post .row .col{
  flex: 1 1 40rem;
}

.view-post .row .col .image{
  width: 100%;
  height: 30rem;
  border-radius: .5rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.view-post .row .col .title{
  font-size: 2rem;
  color: var(--black);
}

.view-post .row .col .flex{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: space-evenly;
}

.view-post .row .col .flex .total-reviews{
  text-align: center;
}

.view-post .row .col .flex .total-reviews h3{
  font-size: 7rem;
  color: aqua;
}

.view-post .row .col .flex .total-reviews i{
  font-size: 3rem;
}

.view-post .row .col .flex .total-reviews p{
  font-size: 1.8rem;
  color: white;
  padding-top: 1rem;
}


.view-post .row .col .flex .total-ratings{
  font-size: 2rem;
}

.view-post .row .col .flex .total-ratings p{
  padding: .3rem 0;
}

.view-post .row .col .flex .total-ratings p i{
  color: orange;
}

.view-post .row .col .flex .total-ratings p span{
  color: var(--light-color);
}

.reviews-container .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-container .heading .add-btn {
  border-radius: 2rem;
  border: 1px solid aqua;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  color: #fff;
  background: #222;
}
.reviews-container .box-container{
  display: grid;
  row-gap: 3rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border: .1rem solid aqua;
  border-radius: .5rem;
  padding: 2rem;
}

.reviews-container .box-container .box{
  border-bottom: .1rem solid aqua;
  overflow-x: hidden;
  padding-bottom: 1.5rem;
  position: relative;
}

.reviews-container .box-container .box .user{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.reviews-container .box-container .box .user img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-container .box-container .box .user h3{
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 6.5rem;   
}

.reviews-container .box-container .box .user p{
  font-size: 1.8rem;
  color:black;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-bottom: .3rem;
}

.reviews-container .box-container .box .user span{
  color: #fff;
  font-size: 1.5rem;
}

.reviews-container .box-container .box .ratings{
  position: absolute;
  top: 0; right: 0;
  z-index: 10;
}

.reviews-container .box-container .box .ratings p{
  border-radius: .5rem;
  color: white;
  padding: .5rem 1rem;
}

.reviews-container .box-container .box .ratings p span{
  font-size: 2rem;
}

.reviews-container .box-container .box .ratings p i{
  font-size: 1.5rem;
}

.reviews-container .box-container .box .title{
  font-size: 2rem;
  color: black;
  padding: .5rem 0;
}

.reviews-container .box-container .box .description{
  font-size: 1.6rem;
  white-space: pre-line;
  color: #222;
  line-height: 1.5;
}

.inline-delete-btn,
.inline-option-btn{
   margin-top: 1rem;
   text-align: center;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   border-radius: .5rem;
   border: 1px solid aqua;
   color: white;
   cursor: pointer;
   text-transform: capitalize;
}
.empty{
  background-color: white;
  border-radius: 1rem;
  border: 1px solid aqua;
  padding: 1.5rem;
  font-size: 1.8rem;
  color: var(--red);
  text-align: center;
  width: 100%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);;
}


.account-form form{
  background: var(--white);
  box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border: 1px solid red;
  border-radius: 2rem;
  max-width: 50rem;
  margin: 10rem auto;
}

.account-form form h3{
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  text-align: center;
}

.account-form form p{
  padding-top: 1rem;
  font-size: 1.6rem;
  color: black;
}

.account-form form p span{
  color: var(--red);
}

.account-form form .box{
  width: 100%;
  border-radius: 1rem;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light-bg);
  margin: 1rem 0;
}

.account-form form textarea{
  height: 15rem;
  resize: none;
}

.account-form form .image{
  height: 20rem;
  width: 100%;
  object-fit: contain;
  margin-top: .5rem;
}

.account-form form .link{
  padding: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: var(--light-color);
}

.account-form form .link a{
  color: var(--red);
}

.account-form form .link a:hover{
  text-decoration: underline;
}

.account-form form .submit-btn {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 1px solid aqua;
  background: #222;
  color: aqua;
  font-size: 1.8rem;
  cursor: pointer;
}
.account-form form .submit-btn:hover,
.account-form form a:hover {
  background-color: #16a085;
  color: white;
}
.account-form form a {
  margin-top: 1rem;
  display: block;
  text-align: center;
}
/* End Detail Book Style */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
}
/*# sourceMappingURL=style.css.map */



