.title1 {
  text-align: left;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
  font-size: 3.5rem;
}
/* product */
/* ========================= */
.add-products {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}
.add-products form {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 50rem;
  margin: 0 auto;
}

.add-products form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 2rem;
}

.add-products form .box,
.add-products form .description {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}

.show-products .list-add-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 51rem);
  justify-content: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.show-products .list-add-products .add-products-button {
  text-align: right;
}
.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 36rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.orders .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 520px;
  position: relative;
}

.orders .box-container .box p {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
}

.orders .box-container .box p span {
  color: var(--black);
  /* word-wrap: break-word;
    word-break: break-all; */
}

.orders .box-container .box form {
  text-align: center;
}

.orders .box-container .box .select-button {
  position: absolute;
  bottom: 20px;
  margin-right: 22px;
}
.orders .box-container .box .select-button form select {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  background-color: var(--light-bg);
  border: var(--border);
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  color: var(--black);
}

.users .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.users .box-container .box {
  background-color: var(--white);
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  margin: 30px 0px;
  height: 420px;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  /* box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
      0 20px 20px rgba(0, 0, 0, 0.5); */
  transition: 1s;
}
.users .box-container .box:hover {
  z-index: 998;
  /* transform: perspective(2000px) rotate(-10deg); */
  box-shadow: inset 20px 0 50px rgba(63, 63, 63, 0.5),
    0 10px 100px rgba(66, 65, 65, 0.5);
}

.users .box-container .box .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1.5s cubic-bezier(0.15, 1.7, 0.84, 0.58);
  background: #111;
  /* backface-visibility: hidden; */
}
.users .box-container .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users .box-container .box:hover .imgBox {
  transform: rotateY(-135deg);
}
.users .box-container .box:hover .fullname-type {
  display: none;
}
.users .box-container .box .fullname-type {
  pointer-events: none;
}
.users .box-container .box .detail {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
}
.users .box-container .box .detail p {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}
.users .box-container .box .fullname-type p {
  font-size: 2rem;
  color: var(--light-color);
  margin: 0;
  margin-top: 2px;
  text-align: center;
}
.users .box-container .box .detail p span {
  color: var(--black);
}
.users .box-container .box .fullname-type p span {
  color: var(--black);
}

.users .box-container .box .detail .delete-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

/* ######################### */
.messages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.messages .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  min-height: 340px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
}

.messages .box-container .box p {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
  line-height: 1.5;
}

.messages .box-container .box p span {
  color: var(--black);
}

.messages .box-container .box .delete-btn {
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .title1 {
    text-align: center;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
  .title1 {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .title1,
  .title {
    text-align: center;
    font-size: 3rem;
  }
  .show-products .list-add-products .add-products-button {
    text-align: center;
  }
}
